<header class="row">
    <h1 class="text-center col-md-2 col-md-offset-5">Please sign up</h1>
</header>
<section class="col-md-2 col-md-offset-5">
    <form>
        <div class="form-group row">
            <label for="first_name" class="sr-only">From</label>
            <input ng-model="first_name" name="first_name" type="text" autofocus class="form-control" placeholder="First name">
        </div>
        <div class="form-group row">
            <label for="last_name" class="sr-only">From</label>
            <input ng-model="last_name" name="last_name" type="text" autofocus class="form-control" placeholder="Last name">
        </div>
        <div class="form-group row">
            <label for="email" class="sr-only">From</label>
            <input ng-model="email" name="email" type="text" autofocus class="form-control" placeholder="Email">
        </div>
        <div class="form-group row">
            <label for="password" class="sr-only">To</label>
            <input ng-model="password" name="password" type="password" autofocus class="form-control" placeholder="Password">
        </div>
        <div class="form-group row">
            <label for="password_confirmation" class="sr-only">To</label>
            <input ng-model="password_confirmation" name="password_confirmation" type="password" autofocus class="form-control" placeholder="Password confirmation">
        </div>
        <div class="form-group row text-center">
            <button ng-click="signup(first_name, last_name, email, password, password_confirmation)" class="btn btn-primary btn-lg">Sign up</button> or <a href ng-click="login()">Log in</a>
        </div>
    </form>
</section>