<header class="row">
    <h1 class="text-center col-md-6 col-md-offset-3">Find Activities</h1>
</header>
<section class="row">
    <form>
        <div class="form-group col-md-3 col-md-offset-3">
            <label for="date_from" class="sr-only">From</label>
            <input ng-model="date_from" name="date_from" type="text" autofocus class="form-control" placeholder="From">
        </div>
        <div class="form-group col-md-3">
            <label for="date_to" class="sr-only">To</label>
            <input ng-model="date_to" name="date_to" type="text" autofocus class="form-control" placeholder="To">
        </div>
        <div class="form-group col-md-6 col-md-offset-3 text-center">
            <button ng-click="search(date_from, date_to)" class="btn btn-primary btn-lg">Search</button>
        </div>
    </form>
</section>
<hr>
<section class="row" ng-if="activities">
    <h1 class="text-center h2">Results</h1>
    <ul class="list-unstyled">
        <li ng-repeat="activity in activities">
            <section class="well col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <span ng-hide="editing(activity)">{{activity.name}}</span>
                    <span ng-show="editing(activity)">
                        <label for="edited_name" class="sr-only">Name</label>
                        <input data-ng-model="editedActivity.name" name="edited_name" type="text" autofocus class="form-control" placeholder="Name">
                    </span>
                </div>
                <div class="col-md-2">
                    <span ng-hide="editing(activity)">{{activity.date}}</span>
                    <span ng-show="editing(activity)">
                        <label for="edited_date" class="sr-only">Date</label>
                        <input data-ng-model="editedActivity.date" name="edited_date" type="text" autofocus class="form-control" placeholder="Date">
                    </span>
                </div>
                <div class="col-md-2">
                    <span ng-hide="editing(activity)">{{activity.hours}}</span>
                    <span ng-show="editing(activity)">
                        <label for="edited_hours" class="sr-only">Hours</label>
                        <input data-ng-model="editedActivity.hours" name="edited_hours" type="text" autofocus class="form-control" placeholder="Hours">
                    </span>
                </div>
                <div class="col-md-2">
                    <button ng-hide="editing(activity)" ng-click="edit(activity)" class="btn btn-info">Edit</button>
                    <button ng-hide="editing(activity)" ng-click="delete(activity)" class="btn btn-danger">Delete</button>
                    <button ng-show="editing(activity)" ng-click="save()" class="btn btn-info">Save</button>
                    <button ng-show="editing(activity)" ng-click="cancel()" class="btn btn-info">Cancel</button>
                </div>
            </section>
        </li>
        <li>
            <section class="well col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <label for="name" class="sr-only">Name</label>
                    <input ng-model="name" name="name" type="text" autofocus class="form-control" placeholder="Name">
                </div>
                <div class="col-md-2">
                    <label for="date" class="sr-only">Date</label>
                    <input ng-model="date" name="date" type="text" autofocus class="form-control" placeholder="Date">
                </div>
                <div class="col-md-2">
                    <label for="hours" class="sr-only">Hours</label>
                    <input ng-model="hours" name="hours" type="text" autofocus class="form-control" placeholder="Hours">
                </div>
                <div class="col-md-2">
                    <button ng-click="add(name, date, hours)" class="btn btn-info">Add</button>
                </div>
            </section>
        </li>
    </ul>
</section>